.shape{

width: 100px;
height: 100px;
background: red;
position: relative;
animation: mymove 3s;
animation-delay: 2s;
animation-fill-mode: forwards;
}

@keyframes moving{
    0%{
        font-size: 10px;
    }
    100%{
        font-size: 100px;
    }
}

@keyframes mymove{
    from {top: 10px; background-color: red;}
    to {top: 350px; background-color: pink;}
}

.moves:hover {
    animation: moving 5s;
    animation-fill-mode: both;
}